<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>Dashboard</title>
</head>
<body class="dash-bg">
    <div class="container">
      <nav class="navbar navbar-expand-lg navbar-light  d-flex justify-content-between">
        <a href="/">Home</a>
        <h2 id="welcome-text">Community Animes</h2>
        <a href="/show_register">Register</a>
      </nav>
      <table class="table">
          <thead>
            <tr>
              <th scope="col">Creator</th>
              <th scope="col">Anime</th>
              <th scope="col">Date Created</th>
              <th scope="col">Last update</th>
            </tr>
          </thead>
            {% for anime in animes %}
          <tbody>
            <tr>
              <td>{{anime.user.first_name}} {{anime.user.last_name}}</td>
              <td><a href="/read_anime/{{anime.id}}">{{anime.title}}</a></td>
              <td>{{anime.created_at.strftime("%B %d, %Y")}}</td>
              <td>{{anime.updated_at.strftime("%B %d, %Y")}}</td>
            </tr>
          </tbody>
          {% endfor %}
        </table>
    </div>
</body>
</html>